<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.component.css">
    <title>Navbar Responsive</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="brand">Logo</div>
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="menu">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Electricité</a></li>
                <li><a href="#">Plomberie</a></li>
                <li><a href="#">Extérieur</a></li>
                <li><a href="#">Divers</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

</body>
</html>

